


<!-- body -->
<div id="body">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="logo.jpg" class="navbar-brand" style="width:100px;height:50px;">
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index">Home</a></li>
        <li><a href="#">features</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
     
        <button class="navbar-right btn-primary btn navbar-btn" data-toggle="modal" data-target=".bs-example-modal-sm">Login</button>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- log in model -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center>
      	<br>
      		<input type="text" class="form-control" name="userName" placeholder="Username">
      	<br>
      		<input type="text" class="form-control" name="paasWord" placeholder="Password">
      	<p><a href="#">Sign up</a> now</p>
      </center>

		<div class="modal-footer">
        	    <button type="button" class="btn btn-primary">Login</button>
        	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      	</div>

    </div>
  </div>
</div>

  {{outlet}}
<div class="navbar navbar-inverse"  style="padding-top:30px;">
	<div>
	<p style="font-size:1em;color:white;float:left;margin-left:60px;width:400px;"><img src="logo.jpg" style="width:50px;"> BigStore</p>
	
		<table class="table" style="width:700px;">
		<tr style="color:white;">
			<th>Overview</th>
			<th>Point of Sale</th>
			<th>Resources</th>
			<th>Social</th>
		</tr>
		<tr>
			<td><a href="#">Feature Tour</a></td>
			<td><a href="#">POS System</a></td>
			<td><a href="#">24/7 Support</a></td>
			
			
			<td><a href="#">Facebook</a></td>
		</tr>
		<tr>
			<td><a href="#">Sell Online</a></td>
			<td><a href="#">Features</a></td>
			<td><a href="#">Ecommerce Forums</a></td>
			
			<td><a href="#">LinkedIn</a></td>
		</tr>
		<tr>
			
			<td><a href="#">Online Store</a></td>
			<td><a href="#">POS Software</a></td>
			<td><a href="#">App Store</a></td>
			
			<td><a href="#">Google+</a></td>
		</tr>
		<tr>
			
			<td><a href="#">Store Design</a></td>
			<td><a href="#">Hardware</a></td>
			<td><a href="#">Theme Store</a></td>
			<td></td>
		</tr>
  		</table>
  		
	</div>
	<div>
		<br/>
		<h5 style="text-align:center;"><span class="label label-default">Copyright © 2014  Terms of Service </span></h5>
	</div>		
</div>
  

</div>
<!-- footer -->
