
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:100%;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <div class="carousel-caption style1">
      <form>
      <table class="table" >
          <tr>
            <td><input type="email" placeholder="Email Id" name="mail" class="form-control" required></td>
            <td><input type="text" placeholder="Store Name" name="sname" class="form-control" required></td>
            <td><input type="text" placeholder="Phone No" name="phno" class="form-control" required></td>
            <td><button type="submit" class="btn btn-primary">Submit</button ></td>
          </tr>
        </table>
        
      </form>
    </div>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="slider/bg1.jpg" alt="">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="slider/bg2.jpg" alt="">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="slider/bg3.jpg" alt="">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="media style2">
  <a class="pull-left" href="#">
    <img class="media-object" src="pic1.jpg" alt="" style="width:400px;">
  </a>
  <div class="media-body">
    <div style="margin-left:20px;">
      <h2 class="media-heading">India's Preferred Ecommerce Platform</h2>
      <br/>
      Business owners across India run successful Shopify stores. You can sell fashion, electronics, sporting goods, furniture, even food.
    </div>
  </div>
</div>
<div class="well" style="text-align:center;">
  <h1>All the features you want, none of the clutter.</h1>
  <table class="table" style="width:1000px;margin-left:100px;">
    <tr>
      <td>
          <div class="media">
            <div class="pull-left" href="#">
              <img class="media-object" src="pic1.jpg" alt="" style="width:100px;">
            </div>
            <div class="media-body">
              <div style="margin-left:5px;">
                <h4 class="media-heading">Total control over your site’s design</h4>
                Choose from over 100 templates or create a custom-designed theme for your store.
              </div>
            </div>
          </div>
      </td>
      <td>
          <div class="media">
            <div class="pull-left" href="#">
              <img class="media-object" src="pic1.jpg" alt="" style="width:100px;">
            </div>
            <div class="media-body">
              <div style="margin-left:5px;">
                <h4 class="media-heading">Fully hosted online shopping cart</h4>
                Shopify provides a secure shopping cart that lets you instantly accept credit cards and PayPal payments.
              </div>
            </div>
          </div>
      </td>
    </tr>
    <tr>
      <td>
          <div class="media">
            <div class="pull-left" href="#">
              <img class="media-object" src="pic1.jpg" alt="" style="width:100px;">
            </div>
            <div class="media-body">
              <div style="margin-left:5px;">
                <h4 class="media-heading">State-of-the-art security</h4>
                Shopify is Level 1 PCI compliant and uses 128 bit SSL encryption to ensure credit card data is secure.
              </div>
            </div>
          </div>
      </td>
      <td>
          <div class="media">
            <div class="pull-left" href="#">
              <img class="media-object" src="pic1.jpg" alt="" style="width:100px;">
            </div>
            <div class="media-body">
              <div style="margin-left:5px;">
                <h4 class="media-heading" style="text-align:">Accept global currencies</h4>
                Expand your business worldwide. Shopify stores can accept payment from around the world.
              </div>
            </div>
          </div>
      </td>
    </tr>
  </table>
</div>

<div style="text-align:center;">
  <h1>Run your store online, in-person, and on the go</h1>
  <h4>Shopify automatically syncs your store's data</h4>
  <div class="media style2">
      <a class="pull-left" href="#">
        <img class="media-object" src="pic2.png" alt="" style="width:300px;">
      </a>
      <div class="media-body">
        <div style="margin-left:20px;">
          <h2 class="media-heading">Manage your store on the go with Shopify Mobile</h2>
          <br/>
          Shopify Mobile makes it easy to run your business from wherever you are. Use your phone to update your store, manage inventory, fulfill orders, or contact a customer.
          <img src="pic3.png">
        </div>
      </div>
    </div>
</div>
<br/>
<br/>

<div style="text-align:center;">
  <p style="font-size:1.6em;">Start your free, no-risk, 14 day trial! <button class="btn-success btn-lg">Create your own Store</button></p>
</div>
